.CreateAccount{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    color:#FFFFFF;
    background: #2B2B2B;
}
.CreateAccount h2{
    padding-top: 100px;
    margin: 0px;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    text-transform: capitalize;
}

.CreateAccount p{

}