.SubscribeWidget{
    background-color: #2B2B2B;
    color: #ffffff;
    padding: 80px 115px;
}
.SubscribeWidget-wrapper{
    background-color: #3B3B3B;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    column-gap: 80px ;
}
.SubscribeWidget-wrapper h3{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 41px;
    line-height: 120%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.SubscribeWidget-wrapper p{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    margin-top: 10px;
    margin-bottom: 40px;
}

